<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>ZAICCI</title>
    <link rel="stylesheet" href="/js/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/index.css" media="all">
</head>
<body>
<!--头部-->
<header class="layui-header header header-doc" winter="">
    <div class="layui-main">
        <a class="logo" href="/">
            <img src="/images/custom/logo.png" alt="ZAICCI">
        </a>
        <ul class="layui-nav" lay-filter="">
            <li class="layui-nav-item"><a href="/">网站首页&nbsp;|&nbsp;HOME</a></li>
            <li class="layui-nav-item layui-this"><a href="/about">公司简介&nbsp;|&nbsp;ABOUT</a></li>
            <li class="layui-nav-item"><a href="productShow">产品中心&nbsp;|&nbsp;NEWS</a></li>
            <!--<li class="layui-nav-item"><a href="">阿里巴巴批发&nbsp;|&nbsp;</a></li>
            <li class="layui-nav-item"><a href="">阿里旺铺&nbsp;|&nbsp;1688.com</a></li>-->
            <li class="layui-nav-item"><a href="#contact">联系我们&nbsp;|&nbsp;CONTACT</a></li>
        </ul>
    </div>
</header>

<content>
    <div id="imgShow">
        <div class="layui-carousel" id="loopImg">
            <div carousel-item id="topshowImgs">
                <div><img src="" alt="暂无商品"/></div>
                <div><img src="" class="topshowImg" alt="暂无商品"/></div>
                <div><img src="" class="topshowImg" alt="暂无商品"/></div>
                <div><img src="" class="topshowImg" alt="暂无商品"/></div>
                <div><img src="" class="topshowImg" alt="暂无商品"/></div>
            </div>
        </div>
    </div>

    <div id="about" style="margin:0 auto;width:80%;text-align:center;padding:15px;">
        <div style="color:red;font-size:30px;height:60px;font-family:  'Microsoft YaHei UI';"> ABOUT US LEATHER</div>
        <div id="laa" type="title" class="cstlayer" style=" z-index: 123; height: 45px;text-align:center">
            <div class="wp-title_content"
                 style="margin:0 auto;font-family: Microsoft YaHei; color: rgb(153, 153, 153);word-wrap: break-word; padding: 0px; border-color: rgb(102, 102, 102); border-width: 3px; height: 39px; width: 216px; display: block; border-style: solid;">
                <br>
                中国高端箱包皮具领导者
            </div>
            <div class="wp-title_content"
                 style="position: relative;top: -70px;left: 46%;word-wrap: break-word; padding: 10px; border-color: transparent; border-width: 0px; height: 29px; width: 80px; display: block; border-style: solid; background-color: rgb(255, 255, 255);">
                <span style="font-size: 18px;">关于我们</span>
            </div>
        </div>

        <div class="layui-row" id="cmpyDes">
            <p>
                广州市贝比菲斯箱包有限公司是一家集研发、生产、销售一体的创新+实业公司，落户于全球最大箱包皮具集散地—广州狮岭，毗邻广州白云机场。公司成立于2000年,现拥有3000方生产+公司办公场地。
            </p>
            <p>
                从公司成立之初，我们就把“打造中国卓越的皮具企业，为全球提供最好的箱包产品”作为公司的奋斗目标。我们始终秉承“产品价值和用户体验的完美结合”这一理念打造每一款箱包产品，对整个箱包行业产业链进行有效的整合，充分发挥人才的优势，结合快速发展的互联网信息产业，为热爱生活，喜爱箱包的人们提供满意的产品。
            </p>
            <p>
                公司自创办以来一直注重人才的培养与引进及企业系统建设的打造。公司发展至今已拥有一批精干的管理人员和一支专业的技术队伍 。在箱包的设计、研发、生产、销售等一系列环节从严控制从而产生最优质的产品,你把包包的开发设计生产交给贝比菲斯，我们将用最好的服务，最优的质量让每一个客户满意。
            </p>
            <p color="red">坚持“思想统一、执行统一、形象统一、服务统一”</p>
        </div>
    </div>

    <div id="cmpyCulture" style="margin:0 auto;width:80%;text-align:center;padding:15px;">
        <div style="color:red;font-size:30px;height:60px;font-family:  'Microsoft YaHei UI';"> THE ENTERPRISE CULTURE</div>
        <div id="laa" type="title" class="cstlayer" style=" z-index: 123; height: 45px;text-align:center">
            <div class="wp-title_content"
                 style="margin:0 auto;font-family: Microsoft YaHei; color: rgb(153, 153, 153);word-wrap: break-word; padding: 0px; border-color: rgb(102, 102, 102); border-width: 3px; height: 39px; width: 216px; display: block; border-style: solid;">
                <br>
                中国高端箱包皮具领导者
            </div>
            <div class="wp-title_content"
                 style="position: relative;top: -70px;left: 46%;word-wrap: break-word; padding: 10px; border-color: transparent; border-width: 0px; height: 29px; width: 80px; display: block; border-style: solid; background-color: rgb(255, 255, 255);">
                <span style="font-size: 18px;">企业文化</span>
            </div>
        </div>

        <div class="layui-row" id="cultureDes" style="padding: 20px;">
            <p style="">
                <b>企业使命：</b>打造优良品牌，争做皮具行业的领导者，提供优质皮具用品
                <b>经营理念：</b>持续创新。确保客户、员工、股东利益最大化
            </p>
            <p>
                <b>文化价值：</b>务实、快乐、分享、感恩
                <b>发展愿景：</b> 争做中国100强企业，世界500强名企
            </p>
            <p>
                <b>服务宗旨：</b>以顾客需求为中心，以客户满意为宗旨
            </p>
        </div>
    </div>


    <div id="contact" style="margin:0 auto;text-align:center">
        <div style="color:red;font-size:30px;height:60px;font-family:  'Microsoft YaHei UI';"> CONTACT US LEATHER</div>
        <div  class="cstlayer" style=" z-index: 123; height: 45px;text-align:center">
            <div class="wp-title_content"
                 style="margin:0 auto;font-family: Microsoft YaHei; color: rgb(153, 153, 153);word-wrap: break-word; padding: 0px; border-color: rgb(102, 102, 102); border-width: 3px; height: 39px; width: 216px; display: block; border-style: solid;">
                <br>
                中国高端箱包皮具领导者
            </div>
            <div class="wp-title_content"
                 style="position: relative;top: -70px;left: 46%;word-wrap: break-word; padding: 10px; border-color: transparent; border-width: 0px; height: 29px; width: 80px; display: block; border-style: solid; background-color: rgb(255, 255, 255);">
                <span style="font-size: 18px;">联系我们</span>
            </div>
        </div>
        <div style="z-index: 122;  height: 62px;text-align:center;padding:20px;font-family: Times New Roman;  color: rgb(51, 51, 51);" >
                <p style="padding-bottom: 15px;font-size: 36px;">
                    <em>+186-8889-8048</em>
                </p>
                <p>E-MAIL: 358319393@QQ.COM</p>
                <p>保定市工业园南合一街15号</p>
        </div>

    </div>

</content>

<footer>
    <div class="layui-main footer">
        <p>Copyright © 2019 All rights reserved&nbsp; © Baoding Zainuo Trading Co., Ltd</p>
        <p>
            <a href="#contact" target="_blank">联系我们</a>
            <!--<a href="http://fly.layui.com/jie/3147/" target="_blank">支持</a>
            <a href="javascript:;" site-event="contactInfo">联系</a>
            <a href="https://github.com/sentsin/layui/" target="_blank" rel="nofollow">GitHub</a>
            <a href="https://gitee.com/sentsin/layui" target="_blank" rel="nofollow">码云</a>
            <a href="http://fly.layui.com/jie/2461/" target="_blank">公众号</a>
            <a href="http://www.miitbeian.gov.cn/" target="_blank" rel="nofollow">赣ICP备13006272号-2</a>
            -->
        </p>
        <!--<p class="site-union">
            <a href="https://www.upyun.com?from=layui" target="_blank" rel="nofollow" upyun=""><img src="//res.layui.com/static/images/other/upyun.png?t=1" alt="upyun"></a>
            <span>提供 CDN 赞助</span>
        </p>-->
    </div>
    </div>
</footer>
</body>
</html>
<script src="/js/layui.js?t=1542630986934"></script>
<!--需要增加th：line标签才可使用thymleaf 模板-->
<script th:inline="javascript">
    layui.config({
        version: '1542630986934' //为了更新 js 缓存，可忽略
    });

    layui.use(['laydate', 'laypage', 'layer', 'table', 'carousel', 'upload', 'element', 'slider'], function () {
        varlaydate = layui.laydate//日期
            , laypage = layui.laypage//分页
            , layer = layui.layer//弹层
            , table = layui.table//表格
            , carousel = layui.carousel//轮播
            , upload = layui.upload//上传
            , element = layui.element//元素操作
            , slider = layui.slider//滑块
        var $ = layui.jquery;

        //获取后台数据填充轮播图
        $.get("/manager/topproducts?page=1&limit=5&topshow=是", function (res, status) {
            if (res.data == null) return;
            var datas = res.data;
            datas.forEach(function (data, index) {
                if (data.mainPic != null && data.mainPic.length > 0) {
                    $("#topshowImgs img")[index].src = '/upload/download?fileName=' + encodeURIComponent(data.mainPic);
                }
            });
            //执行一个轮播实例
            carousel.render({
                elem: '#loopImg'
                , width: '100%'//设置容器宽度
                , height: 200
                , arrow: 'none' //不显示箭头
                , anim: 'fade' //切换动画方式
            });
        });
    });
</script>