<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.feiruishu.dao.PermissionDao">
    <select id="findAll"  resultType="cn.feiruishu.pojo.Permission">
      SELECT * from Sy_permission ;
    </select>

    <select id="findByAdminUserId" parameterType="int" resultType="cn.feiruishu.pojo.Permission">
      select p.*
        from Sy_org_User u
        LEFT JOIN sy_role_user sru on u.userid= sru.Userid
        LEFT JOIN Sy_Role r on sru.Roleid=r.roleid
        LEFT JOIN Sy_permission_role spr on spr.role_id=r.roleid
        LEFT JOIN Sy_permission p on p.id =spr.permission_id
        where u.id=#{userId}
 </select>
</mapper>